<h1> Make a request </h1>
<%= simple_form_for @request do |f| %>
  <%= f.input :description %>
  Enter the due_date in the format of yyyymmdd
  <%= f.input :due_date %>
  <%= f.hidden_field :requestable_id, value: @user.id %>
  <%= f.submit %>
<% end %>
